@model IEnumerable<WebAppBD.Models.Socio>



@{
    Layout = null;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido_1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido_2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Codigo_Socio">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Codigo_Socio">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Codigo_Socio">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
