@model IEnumerable<WebAppBD.Models.ArchiPeliPrestadas>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro de Películas Prestadas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo Registro</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Fecha Préstamo
            </th>
            <th>
                Título
            </th>
            <th>
                Duración
            </th>
            <th>
                Número Cintas
            </th>
            <th>
                Género
            </th>
            <th>
                Actores
            </th>
            <th>
                Directores
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPrestamo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumCintas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actores)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Directores)
                </td>
                <td>
                    <a class="btn btn-success"  asp-action="Edit" asp-route-id="@item.IdPeliPrestada">Editar</a> |
                    <a class="btn btn-warning"  asp-action="Details" asp-route-id="@item.IdPeliPrestada">Detalle</a> |
                    <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.IdPeliPrestada">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
