@model IEnumerable<WebAppBD.Models.ArchiPeliPrestadas>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro de Peliculas Prestadas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo Registro</a>
</p>
<table class="table-striped">
    <thead>
        <tr>
            <th>
                Fecha Prestamo:
            </th>
            <th>
                Titulo:
            </th>
            <th>
                Duracion:
            </th>
            <th>
                Numero Cintas:
            </th>
            <th>
                Genero:
            </th>
            <th>
                Actor:
            </th>
            <th>
                Director:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPrestamo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumCintas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actores)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Directores)
                </td>
                <td>
                    <a class="btn btn-success"  asp-action="Edit" asp-route-id="@item.IdPeliPrestada">Edit</a> |
                    <a class="btn btn-warning"  asp-action="Details" asp-route-id="@item.IdPeliPrestada">Details</a> |
                    <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.IdPeliPrestada">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
