@model IEnumerable<WebAppBD.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro de Usuarios</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo Registro</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nombre:
            </th>
            <th>
                Apellido:
            </th>
            <th>
                Password:
            </th>
            <th>
                Correo:
            </th>
            <th>
                Cedula:
            </th>
            <th>
                Rol:
            </th>
            <th>
                Estado:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRolNavigation.IdRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
