@model IEnumerable<WebAppBD.Models.Socio>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro de Socios</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre:
            </th>
            <th>
                Apellido 1:
            </th>
            <th>
                Apellido 2:
            </th>
            <th>
                Dirección:
            </th>
            <th>
                Teléfono:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Codigo_Socio">Editar</a> |
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Codigo_Socio">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Codigo_Socio">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
