@model IEnumerable<WebAppBD.Models.ArchiPeliDevueltas>

@{
    ViewData["Title"] = "Index";
}

    <h1>Registro de Peliculas Devueltas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha Devolucion
            </th>
            <th>
                Titulo
            </th>
            <th>
                Duración
            </th>
            <th>
                Numero Cintas
            </th>
            <th>
                Genero
            </th>
            <th>
                Actores
            </th>
            <th>
                Directores
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDevolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumCintas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Directores)
            </td>
            <td>
                <a class="btn btn-success" a asp-action="Edit" asp-route-id="@item.IdPeliDevuelta">Editar</a> |
                <a class="btn btn-warning" a asp-action="Details" asp-route-id="@item.IdPeliDevuelta">Detalles</a> |
                <a class="btn btn-danger" a asp-action="Delete" asp-route-id="@item.IdPeliDevuelta">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
