@model WebAppBD.Models.ListaEspera

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Registro de Lista en Espera</h1>

<h3>Desea eliminar el registro?</h3>
<div>
    <h4>ListaEspera</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadSocios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadSocios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoEspera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoEspera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFichaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFichaNavigation.Pelicula)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdListaEspera" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-success" asp-action="Index">Atrás</a>
    </form>
</div>
