@model WebAppBD.Models.ListaEspera

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ListaEspera</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadSocios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadSocios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoEspera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoEspera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFichaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFichaNavigation.Pelicula)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdListaEspera">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
