@model IEnumerable<WebAppBD.Models.ListaEspera>

@{
    ViewData["Title"] = "Index";
}

<h1>Registros de Lista en Espera</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo Registro</a>
</p>
<table class="table table-striped" >
    <thead>
        <tr>
            <th>
                Cantidad Socios
            </th>
            <th>
                Tiempo Espera
            </th>
            <th>
                IdFicha
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadSocios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoEspera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFichaNavigation.Pelicula)
            </td>
            <td>
                <a class="btn btn-success"  asp-action="Edit" asp-route-id="@item.IdListaEspera">Editar</a> |
                <a class="btn btn-warning"  asp-action="Details" asp-route-id="@item.IdListaEspera">Detalle</a> |
                <a class="btn btn-danger"   asp-action="Delete" asp-route-id="@item.IdListaEspera">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
