@model WebAppBD.Models.ArchiFichaSocio

@{
    ViewData["Title"] = "Details";
}

    <h1>Detalle Ficha de Socio</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Género Favorito:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneroFavorito)
        </dd>
        <dt class="col-sm-2">
            Actor Favorito:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActoresFavorito)
        </dd>
        <dt class="col-sm-2">
            Director Favorito:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectoresFavorito)
        </dd>
        <dt class="col-sm-2">
            Código Socio:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoSocioNavigation.Codigo_Socio)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" a asp-action="Edit" asp-route-id="@Model.IdFichaSocio">Editar</a> |
    <a class="btn btn-success" asp-action="Index">Atrás</a>
</div>
