@model IEnumerable<WebAppBD.Models.ArchiFichaSocio>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro Ficha de Socio</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo Registro</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Género Favorito
            </th>
            <th>
                Actor Favorito
            </th>
            <th>
                Director Favorito
            </th>
            <th>
                Código Socio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GeneroFavorito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActoresFavorito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectoresFavorito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoSocioNavigation.Codigo_Socio)
            </td>
            <td>
                <a class="btn btn-success"  asp-action="Edit" asp-route-id="@item.IdFichaSocio">Editar</a> |
                <a class="btn btn-warning"  asp-action="Details" asp-route-id="@item.IdFichaSocio">Detalles</a> |
                <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.IdFichaSocio">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
