@model IEnumerable<WebAppBD.Models.ArchiFichaSocio>

@{
    ViewData["Title"] = "Index";
}

<h1>Registro Ficha de Socio</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GeneroFavorito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActoresFavorito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectoresFavorito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoSocioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GeneroFavorito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActoresFavorito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectoresFavorito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoSocioNavigation.Apellido_1)
            </td>
            <td>
                <a class="btn btn-success" a asp-action="Edit" asp-route-id="@item.IdFichaSocio">Edit</a> |
                <a class="btn btn-warning" a asp-action="Details" asp-route-id="@item.IdFichaSocio">Details</a> |
                <a class="btn btn-danger" a asp-action="Delete" asp-route-id="@item.IdFichaSocio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
